/.gradle/
/.idea/
/build
/out/
Dockerfile
src/test/resources/testScenario.json
/UTF16
/EdgeDiagnosticsApp/CommonUtils/build/
/EdgeDiagnosticsApp/CommonUtils/out/
/EdgeDiagnosticsApp/DiagnosticsClient/build/
/EdgeDiagnosticsApp/DiagnosticsClient/out/
/EdgeDiagnosticsApp/DiagnosticsServer/build/
/EdgeDiagnosticsApp/DiagnosticsServer/out/
