/.gradle/
/.idea/
/build
/out/
src/test/resources/testScenario.json
/UTF16
EdgeDiagnosticsApp/DiagnosticsClient/build
EdgeDiagnosticsApp/DiagnosticsServer/build
EdgeDiagnosticsApp/CommonUtils/build
EdgeDiagnosticsApp/DiagnosticsClient/out
EdgeDiagnosticsApp/DiagnosticsServer/out
EdgeDiagnosticsApp/CommonUtils/out